@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/roboto-v15-cyrillic_latin-100.woff2') format('woff2'), url('../fonts/roboto-v15-cyrillic_latin-100.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v15-cyrillic_latin-300.woff2') format('woff2'), url('../fonts/roboto-v15-cyrillic_latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v15-cyrillic_latin-regular.woff2') format('woff2'), url('../fonts/roboto-v15-cyrillic_latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v15-cyrillic_latin-700.woff2') format('woff2'), url('../fonts/roboto-v15-cyrillic_latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v15-cyrillic_latin-900.woff2') format('woff2'), url('../fonts/roboto-v15-cyrillic_latin-900.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ubuntu-v9-cyrillic_latin-700.woff2') format('woff2'), url('../fonts/ubuntu-v9-cyrillic_latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-condensed-v13-cyrillic-regular.woff2') format('woff2'), url('../fonts/roboto-condensed-v13-cyrillic-regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-condensed-v13-cyrillic-700.woff2') format('woff2'), url('../fonts/roboto-condensed-v13-cyrillic-700.woff') format('woff');
}
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
body {
  min-width: 300px;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 18px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #ffffff;
  background: #544f47 url("../img/bg/bg1-mobile.jpg") center top no-repeat fixed;
}
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 17px;
}
.page-header__logo {
  display: block;
  width: 120px;
  height: 120px;
}
.page-header__nav {
  order: -1;
  font-size: 0;
}
.page-header__icon-nav {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 16px;
  margin-right: 15px;
}
.page-header__icon-nav::before,
.page-header__icon-nav::after {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
.page-header__icon-nav::before {
  top: 0;
  box-shadow: 0 7px 0 0 #ffffff;
}
.page-header__icon-nav::after {
  bottom: 0;
}
.page-header__information {
  display: none;
}
.page-header__nav-list-wraper {
  position: absolute;
  top: 85px;
  left: 0;
  z-index: 1;
  width: 230px;
  display: none;
  padding-top: 5px;
}
.page-header__nav-list-wraper::before {
  position: absolute;
  top: -13px;
  left: 16px;
  z-index: 2;
  content: "";
  display: block;
  border: 9px solid transparent;
  border-bottom: 9px solid #73b23b;
}
.page-header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 16px;
  overflow: hidden;
}
.page-header__nav-item:not(:last-child) {
  border-bottom: 1px solid #ffb95a;
}
.page-header__nav-link {
  display: block;
  height: 37px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  line-height: 37px;
  font-weight: 300;
  text-decoration: none;
  background-color: #faa633;
}
.page-header__nav-link:hover,
.page-header__nav-link:active {
  background-color: #73b23b;
}
.page-header__contacts {
  display: none;
}
.page-header__contacts-phone {
  display: block;
  margin-top: 4px;
  font-family: Ubuntu, sans-serif;
  font-size: 22px;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;
}
.main-content__wrapper {
  padding: 0 10px;
  text-align: center;
}
.main-content__title {
  margin: 70px 0 100px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 100;
  text-align: center;
  text-shadow: 0 2px 1px #000000;
}
.main-content__btn {
  display: block;
  width: 248px;
  height: 58px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  line-height: 58px;
  text-decoration: none;
  border-radius: 30px;
  background-color: #7fb137;
}
.main-content__btn:hover {
  cursor: pointer;
  background-color: #faa633;
}
.main-content__clients {
  display: none;
}
.main-content__previos-clients {
  display: block;
  width: 14px;
  height: 53px;
  background: url("../img/icon/prev.svg") center center no-repeat;
}
.main-content__next-clients {
  display: block;
  width: 14px;
  height: 53px;
  background: url("../img/icon/next.svg") center center no-repeat;
}
.main-content__clients-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1020px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-content__client {
  width: 25%;
  text-align: center;
}
.main-content__achievements {
  display: none;
}
.main-content__achievements-wrapper {
  margin: 0 auto;
  padding: 0 10px 10px;
}
.main-content__grow-achievements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
  list-style: none;
}
.main-content__grow-achievements-item {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  margin-top: 25px;
  padding: 0 0 0 60px;
}
.main-content__grow-achievements-item::before {
  position: absolute;
  top: -4px;
  left: 10px;
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #7fb137;
  box-shadow: 0 0 0 8px rgba(127, 177, 55, 0.3), 0 0 0 4px rgba(219, 0, 0, 0.3);
  animation: none;
}
.main-content__grow-achievements-item::after {
  position: absolute;
  top: 3px;
  left: 17px;
  content: "";
  display: block;
  width: 12px;
  height: 6px;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  transform: rotate(-45deg);
}
.main-content__grow-achievements-item:hover {
  cursor: default;
}
.main-content__grow-achievements-item:hover::before {
  animation-name: blink;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes blink {
  50% {
    box-shadow: 0 0 0 10px rgba(127, 177, 55, 0), 0 0 0 6px rgba(219, 0, 0, 0);
  }
  51% {
    box-shadow: 0 0 0 0 rgba(127, 177, 55, 0.3), 0 0 0 0 rgba(219, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 0 8px rgba(127, 177, 55, 0.3), 0 0 0 4px rgba(219, 0, 0, 0.3);
  }
}
.main-content__work-achievements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px auto 0;
  padding: 0;
  list-style: none;
}
.main-content__achievements-red {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #db0000;
}
.main-content__achievements-number {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}
.main-content__achievements-text {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}
.menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  background: #332b28 url("../img/bg/bg2-mobile.jpg") top center;
  padding-bottom: 10px;
}
.menu__wrapper {
  margin: 0 auto;
  padding: 0 10px;
}
.menu__title {
  margin: 30px 0 0;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}
.menu__cakes {
  position: relative;
}
.menu__column {
  width: 100%;
}
.menu__cakes-title {
  font-family: "Roboto Condensed";
  font-size: 22px;
  line-height: 26px;
}
.menu__cakes-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu__cake {
  position: relative;
  display: flex;
  min-height: 30px;
  padding: 8px 0;
  font-family: "Roboto Condensed";
  font-size: 18px;
  line-height: 30px;
}
.menu__cake:hover {
  padding-left: 35px;
  border-radius: 15px;
  background-color: #88b047;
}
.menu__about-cake-link {
  position: absolute;
  top: 50%;
  left: 7px;
  display: none;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  background: url("../img/icon/icon-info.png") center center no-repeat;
}
.menu__cake-name {
  flex-grow: 1;
  font-family: "Roboto Condensed";
  font-size: 18px;
  line-height: 30px;
}
.menu__link-in-basket {
  display: none;
  font-family: "Roboto Condensed";
  font-size: 18px;
  line-height: 30px;
  color: #262626;
  text-decoration: none;
  white-space: nowrap;
}
.menu__link-in-basket:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  background: url("../img/icon/basket-black.svg") bottom center no-repeat;
}
.menu__link-in-basket:active {
  color: #ffffff;
}
.menu__cake:hover .menu__about-cake-link,
.menu__cake:hover .menu__link-in-basket {
  display: block;
}
.menu__cake:hover .menu__cake-price,
.menu__cake:hover .menu__cake-price-currency {
  display: none;
}
.menu__delivery-info {
  display: none;
}
.menu__delivery-item {
  position: relative;
  margin-top: 30px;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 20px;
}
.menu__delivery-item::before {
  position: absolute;
  top: -5px;
  left: -45px;
  content: "";
  width: 32px;
  height: 32px;
}
.menu__delivery-item--min-price::before {
  background: url("../img/icon/car.svg") center center no-repeat;
}
.menu__delivery-item--time::before {
  background: url("../img/icon/clock.svg") center center no-repeat;
}
.menu__delivery-item--payment::before {
  background: url("../img/icon/wallet.svg") center center no-repeat;
}
.basket {
  background-color: #8aa23a;
  border-radius: 16px;
  margin-top: 20px;
}
.basket__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}
.basket__wrapper--top-block::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #83a663;
}
.basket__title {
  margin: 28px 0 15px;
  flex-grow: 1;
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
}
.basket__order-detail {
  padding-left: 25px;
}
.basket__order-detail--price {
  display: flex;
  width: 100%;
  background: url("../img/icon/basket-orange.svg") 0 50% no-repeat;
}
.basket__order-detail--weight {
  background: url("../img/icon/shopping-bag.svg") 3px 50% no-repeat;
}
.basket__full-info,
.basket__full-price,
.basket__full-weight,
.basket__full-count,
.basket__full-weight-dimension,
.basket__full-count-dimension {
  font-family: "Roboto Condensed";
  font-size: 22px;
  line-height: 30px;
}
.basket__order-detail--weight {
  margin-bottom: 10px;
}
.basket__btn {
  display: none;
  width: 100%;
  max-width: 400px;
  height: 44px;
  margin: 2px auto 0;
  text-align: center;
  font-size: 16px;
  line-height: 44px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #e5a440;
  border-radius: 25px;
}
.basket__btn:hover {
  background-color: #e7b66a;
}
.basket__btn--active {
  display: block;
}
.basket__buy-item {
  display: flex;
  width: 100%;
  margin-top: 12px;
}
.basket__half-weight-sign {
  position: relative;
  align-self: flex-start;
  display: inline-block;
  width: 19px;
  height: 23px;
  margin-right: 11px;
  background: url("../img/icon/icon-weight-0.5.png") center center no-repeat;
}
.basket__half-weight-sign::before {
  position: absolute;
  top: 0;
  left: 4px;
  content: "0,5";
  font-family: "Roboto Condensed";
  font-size: 10px;
  line-height: 30px;
}
.basket__half-weight-sign:hover {
  cursor: pointer;
}
.basket__half-weight-sign:hover::before {
  color: #faa633;
}
.basket__half-weight-sign--active {
  background: url("../img/icon/icon-weight-active.png") center center no-repeat;
}
.basket__half-weight-sign--active:hover {
  cursor: default;
}
.basket__half-weight-sign--active:hover::before {
  color: #ffffff;
}
.basket__full-weight-sign {
  position: relative;
  align-self: flex-start;
  display: inline-block;
  width: 19px;
  height: 23px;
  margin-right: 7px;
  background: url("../img/icon/icon-weight-0.5.png") center center no-repeat;
}
.basket__full-weight-sign::before {
  position: absolute;
  top: 0;
  left: 5px;
  content: "1";
  font-family: "Roboto Condensed";
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}
.basket__full-weight-sign:hover {
  cursor: pointer;
}
.basket__full-weight-sign:hover::before {
  color: #faa633;
}
.basket__full-weight-sign--active {
  background: url("../img/icon/icon-weight-active.png") center center no-repeat;
}
.basket__full-weight-sign--active:hover {
  cursor: default;
}
.basket__full-weight-sign--active:hover::before {
  color: #ffffff;
}
.basket__cake-name {
  margin-right: auto;
  font-family: "Roboto Condensed";
  font-size: 15px;
  line-height: 18px;
}
.basket__count-cakes {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #333333;
}
.basket__count-cakes::before {
  position: absolute;
  top: 5px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
}
.basket__count-cakes--less::before {
  left: 0;
  border-right: 7px solid #ffffff;
}
.basket__count-cakes--more::before {
  right: 0;
  border-left: 7px solid #ffffff;
}
.basket__count-cakes:hover {
  background-color: #faa633;
}
.basket__quantity-cakes {
  margin: 0 7px;
  font-family: "Roboto Condensed";
  font-size: 15px;
  line-height: 18px;
}
.basket__cakes-price {
  width: 40px;
  margin-left: 0px;
  text-align: right;
  font-family: "Roboto Condensed";
  font-size: 15px;
  line-height: 18px;
}
.popup {
  display: none;
}
.popup--open {
  display: block;
}
.popup__background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.popup__window {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #73b23b;
  box-shadow: 0 5px 20px 0 rgba(21, 24, 27, 0.75);
}
.popup__close-btn {
  position: absolute;
  top: 18px;
  right: 18px;
  z-index: 2;
  display: block;
  width: 20px;
  height: 20px;
}
.popup__close-btn::before,
.popup__close-btn::after {
  position: absolute;
  top: 10px;
  content: "";
  width: 20px;
  height: 3px;
  background-color: #191311;
}
.popup__close-btn::before {
  left: 0;
  transform: rotate(45deg);
}
.popup__close-btn::after {
  left: 0;
  transform: rotate(-45deg);
}
.popup__form {
  display: flex;
  flex-direction: column;
}
.popup__title {
  width: 100%;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin: 25px 0 20px;
  text-align: center;
}
.popup__text {
  display: none;
}
.popup__delivery-location {
  display: none;
}
.popup__delivery-location--1:checked ~ .popup__form .popup__btn--1,
.popup__delivery-location--2:checked ~ .popup__form .popup__btn--2 {
  color: #ffffff;
  background-color: #faa633;
}
.popup__delivery-location--1:checked ~ .popup__form .popup__btn--1:hover,
.popup__delivery-location--2:checked ~ .popup__form .popup__btn--2:hover {
  cursor: default;
}
.popup__delivery-location--2:checked ~ .popup__form {
  justify-content: flex-start;
  height: auto;
}
.popup__delivery-location--2:checked ~ .popup__form .popup__detail--user-adress {
  display: none;
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.popup__btn {
  width: 180px;
  height: 44px;
  margin: 8px auto 0;
  padding: 0 40px;
  color: #818181;
  text-align: center;
  font-size: 14px;
  line-height: 44px;
  text-transform: uppercase;
  border-radius: 25px;
  background-color: #e6e6e6;
}
.popup__btn:hover {
  cursor: pointer;
}
.popup__detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  margin-top: 28px;
  padding: 0 27px 33px;
  border-radius: 13px;
  background-color: #f3f3f3;
}
.popup__user-detail-title {
  width: 100%;
  margin: 20px 0 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
  color: #212121;
}
.popup__user-detail-title--datetime::before {
  content: "Доставка и время заказа:";
}
.popup__delivery-location--2:checked ~ .popup__form .popup__user-detail-title--datetime::before {
  content: "Забрать в пекарне:";
}
.popup__info {
  box-sizing: border-box;
  height: 41px;
  margin-top: 10px;
  padding-left: 18px;
  border-radius: 25px;
  font-size: 16px;
  line-height: 41px;
  color: #212121;
  outline: none;
  border: none;
}
.popup__info--user-name,
.popup__info--user-surname,
.popup__info--date,
.popup__info--time,
.popup__info--phone {
  width: 100%;
}
.popup__info--user-metro,
.popup__info--street,
.popup__info--comment,
.popup__info--email {
  width: 100%;
}
.popup__info--house-number,
.popup__info--house-block,
.popup__info--gate,
.popup__info--floor,
.popup__info--flat,
.popup__info--intercom {
  width: 100%;
}
.popup__info--comment {
  height: 81px;
  resize: none;
  padding: 15px 18px;
  line-height: 20px;
}
:-moz-placeholder {
  color: #212121;
  opacity: 1;
}
::-webkit-input-placeholder {
  color: #212121;
  opacity: 1;
}
.popup__subscription-input {
  display: none;
}
.popup__subscription-text {
  position: relative;
  margin-top: 30px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 20px;
}
.popup__subscription-text::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
}
.popup__subscription-input:checked + .popup__subscription-text::after {
  position: absolute;
  top: -1px;
  left: 5px;
  content: "";
  display: block;
  width: 12px;
  height: 7px;
  border-left: 3px solid #952828;
  border-bottom: 3px solid #952828;
  transform: rotate(-45deg);
}
.popup__text-verify {
  display: none;
}
.popup__submit-btn {
  height: 53px;
  margin: 10px 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 53px;
  text-transform: uppercase;
  border-radius: 28px;
  background-color: #faa633;
  border: none;
  outline: none;
}
.popup__submit-btn:hover {
  cursor: pointer;
  background-color: #fabb64;
}
@media (min-width: 660px) {
  body {
    background: #544f47 url("../img/bg/bg1-tablet.jpg") center top no-repeat fixed;
  }
  .page-header {
    padding: 30px 50px;
  }
  .page-header__nav {
    position: relative;
  }
  .page-header__information {
    display: inline;
    padding-left: 5px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
  }
  .page-header__information:hover {
    cursor: pointer;
  }
  .page-header__nav-list-wraper {
    top: 30px;
    left: -16px;
  }
  .page-header__contacts {
    display: block;
    min-width: 200px;
    margin-bottom: 4px;
    text-align: right;
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
  }
  .main-content__wrapper {
    padding: 0 50px;
  }
  .main-content__title {
    margin: 90px 0 35px;
    font-size: 70px;
    line-height: 105px;
  }
  .main-content__achievements-wrapper {
    padding: 0 100px;
  }
  .main-content__grow-achievements {
    flex-direction: row;
    justify-content: center;
  }
  .main-content__grow-achievements-item:first-child {
    margin-right: 90px;
  }
  .menu {
    background: #332b28 url("../img/bg/bg2-tablet.jpg") top center;
  }
  .menu__cakes {
    width: 550px;
    margin: 0 auto;
  }
  .basket__wrapper {
    padding: 0 36px;
  }
  .basket__btn {
    margin-bottom: 20px;
  }
  .basket__buy-items {
    min-height: 185px;
  }
  .basket__buy-items--on-page {
    background-color: rgba(36, 50, 24, 0.33);
  }
  .basket__buy-items--popup {
    margin-top: 10px;
  }
  .basket__buy-item {
    -ms-grid-row-align: center;
    align-items: center;
  }
  .basket__cake-name {
    font-size: 20px;
    line-height: 24px;
  }
  .basket__quantity-cakes {
    font-size: 20px;
    line-height: 24px;
  }
  .basket__cakes-price {
    font-size: 20px;
    line-height: 24px;
  }
  .popup__window {
    top: 10%;
    left: 50%;
    box-sizing: content-box;
    width: 454px;
    margin-left: -259px;
    padding: 0 32px 32px;
  }
  .popup__title {
    width: 453px;
    margin-bottom: 0;
    text-align: left;
    font-size: 36px;
    line-height: 42px;
    font-weight: 900;
  }
  .popup__text {
    display: block;
    width: 453px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
  }
  .popup__wrapper {
    flex-direction: row;
    width: 453px;
  }
  .popup__btn {
    width: auto;
    margin-left: 0;
    margin-right: 10px;
  }
  .popup__detail {
    box-sizing: content-box;
    width: 400px;
  }
  .popup__info--user-name,
  .popup__info--user-surname,
  .popup__info--date,
  .popup__info--time,
  .popup__info--phone {
    width: 195px;
  }
  .popup__info--house-number,
  .popup__info--house-block,
  .popup__info--gate,
  .popup__info--floor,
  .popup__info--flat,
  .popup__info--intercom {
    width: 125px;
  }
  .popup__subscription-text {
    width: 362px;
  }
  .popup__text-verify {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
  .popup__submit-btn {
    width: 100%;
    margin: 0;
  }
}
@media (min-width: 660px) and (min-height: 780px) {
  .main-content__achievements {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 154px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
@media (min-width: 780px) {
  .menu__cakes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 760px;
  }
  .menu__column {
    width: 40%;
  }
  .basket {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .basket__order-detail--price {
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  body {
    background: #544f47 url("../img/bg/bg1.jpg") center top no-repeat fixed;
  }
  .page-header {
    padding: 45px 100px;
  }
  .page-header__logo {
    width: 160px;
    height: 160px;
    order: -2;
    margin-right: 50px;
  }
  .page-header__nav {
    width: 224px;
    margin-right: auto;
  }
  .page-header__nav:hover .page-header__nav-list-wraper {
    display: block;
  }
  .main-content__wrapper {
    padding: 0 100px;
  }
  .main-content__achievements {
    min-width: 1200px;
  }
  .main-content__achievements-wrapper {
    width: 1000px;
  }
  .main-content__grow-achievements-item {
    margin-top: 20px;
  }
  .main-content__work-achievements {
    width: 1000px;
  }
  .menu {
    min-width: 1200px;
    background: #332b28 url("../img/bg/bg2.jpg") top center;
  }
  .menu__wrapper {
    width: 1200px;
    padding: 0;
  }
  .menu__title {
    margin: 60px 0 25px;
    text-align: left;
  }
  .menu__cakes {
    width: 746px;
    margin: 0;
    padding: 16px 16px 35px;
    border: 1px solid #595959;
    border-radius: 10px;
  }
  .menu__column {
    width: 49%;
  }
  .menu__cakes-title {
    margin: 20px 16px 22px;
  }
  .menu__cake {
    padding: 0 16px;
  }
  .menu__delivery-info {
    position: absolute;
    top: 435px;
    left: 100%;
    display: block;
    width: 365px;
    margin: 0;
    padding: 0 0 0 55px;
    list-style: none;
  }
  .basket {
    position: absolute;
    width: 420px;
  }
  .basket--on-page {
    top: 12px;
    left: 100%;
    background-color: rgba(136, 176, 71, 0.79);
    border-radius: 0 16px 16px 0;
  }
  .basket--popup {
    top: -20px;
    right: 0;
    height: 712px;
    background-color: rgba(36, 50, 24, 0.33);
    border-radius: 16px 16px 0 16px;
  }
  .basket__wrapper--on-page {
    max-height: 170px;
    overflow-y: scroll;
  }
  .basket__wrapper--popup {
    max-height: 525px;
    overflow-y: scroll;
  }
  .basket__full-info,
  .basket__full-price,
  .basket__full-weight,
  .basket__full-count,
  .basket__full-weight-dimension,
  .basket__full-count-dimension {
    font-size: 17px;
  }
  .basket__cake-name {
    width: 200px;
    font-size: 15px;
  }
  .basket__quantity-cakes {
    font-size: 15px;
  }
  .basket__cakes-price {
    font-size: 15px;
  }
  .popup__window {
    width: 876px;
    margin-left: -470px;
    border-radius: 14px;
  }
  .popup__form {
    height: 990px;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
  }
  .popup__text-verify {
    width: 392px;
  }
  .popup__submit-btn {
    width: 392px;
  }
}
@media (min-width: 1200px) and (min-height: 800px) {
  .main-content__clients {
    position: absolute;
    bottom: 200px;
    left: 50%;
    display: flex;
    justify-content: space-between;
    width: 1120px;
    margin-left: -560px;
  }
}
@media (max-width: 1199px) {
  .page-header__icon-nav--close::before {
    top: 7px;
    width: 18px;
    transform: rotate(45deg);
    box-shadow: none;
  }
  .page-header__icon-nav--close::after {
    top: 7px;
    width: 18px;
    transform: rotate(-45deg);
  }
  .page-header__nav-list-wraper--open {
    display: block;
  }
}
@media (max-height: 480px) {
  .main-content__title {
    margin: 0px 0 20px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 100;
  }
}
